<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirambeau.termcalc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mirambeau.termcalc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".ImportActivity"
            android:label="Import Theme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/txt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/text" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/txt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/text" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ThemeActivity" />
        <activity android:name=".Backups" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.ThemeActivity" />
        </activity>
        <activity android:name=".Licenses" />
        <activity android:name=".Contributors" />
        <activity android:name=".TerminalActivity"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.SettingsActivity" />
        </activity>
        <activity android:name=".WebViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.AboutActivity" />
        </activity>
        <activity android:name=".AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.MainActivity" />
        </activity>
        <activity android:name=".ChangelogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.AboutActivity" />
        </activity>
        <activity android:name=".BugReportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.AboutActivity" />
        </activity>
        <activity
            android:name=".Intro"
            android:label="Intro" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/theme_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.MainActivity" />
        </activity>
        <activity
            android:name=".EditorActivity"
            android:label="Theme Editor"
            android:parentActivityName=".ThemeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.ThemeActivity" />
        </activity>
        <activity
            android:name=".AdvancedThemeOptionsActivity"
            android:label="Advanced Options"
            android:parentActivityName=".ThemeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirambeau.termcalc.ThemeActivity" />
        </activity>
    </application>

</manifest>